
body {
    font-family: Helvetica;
    font-size: 13px;
    overflow: hidden;
}
#header {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px 0;

}
#header h1 {
    margin: 0;
}
#navigation {
    position: relative;
    left: 400px

}
#map {
    height: 100%;
}

#myTable {
    border: solid 1px;
}
#myTable td {
    padding: 5px;
    align: center;
}